<% provide(:title, "Animal : #{@animal.try(:name) }") %>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= @animal.try(:name) %></h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <span class="white-bg">
   <%= link_to edit_animal_path(@animal) do %>
      <span class='glyphicon glyphicon-edit font-bold' aria-hidden='true'></span> Edit
  <% end %> |
    <%= link_to animals_path do %>
      <span class='glyphicon glyphicon-menu-left font-bold' aria-hidden='true'></span> Back
  <% end %>
    </span>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox product-detail">
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-12">
              <hr>
              <div class="form-group">
                <label class="col-sm-6 control-label">Name : </label>
                <div class="col-sm-6">
                  <%= @animal.name %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-12">
              <hr>
              <div>
                <h4>Actions</h4>

                <div class="btn-group">
                  <div class="btn-group">
                    <%= link_to 'Edit', edit_animal_path(@animal), class: "btn btn-default mr-4" %>
                    <%= link_to 'Back', animals_path, class: "btn btn-default" %>
                    <%= link_to 'Delete', @animal, method: :delete, data: {
                        confirm: 'Are you sure?' },
                                class: 'btn btn-danger btn-sm' %>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
